@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2.5rem;
    }

    .header-top {
        flex: 0;
    }

    .hamburger {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        width: auto;
    }

    header #temples {
        font-size: 2rem;
    }

    #gallery {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    figure img {
        height: 220px;
    }
}