body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #9999cc;
    padding: 1rem;
    background-color: #9999cc;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    background-color: #7b7fb5;
}

section {
    padding: 1rem;
    background-color: #ffffff;
}